<mat-card class="container">
    <mat-card-title>Users</mat-card-title>
    <mat-card-content>

        <div [formGroup]="UserForm">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="User.Name" formControlName="name" type="text" required>
                <mat-error *ngIf="UserForm.controls['name'].status === 'INVALID'">
                    The name is required
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Position</mat-label>
                <input matInput [(ngModel)]="User.Position" formControlName="position" type="text">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Company</mat-label>
                <input matInput [(ngModel)]="User.Company" formControlName="company" type="text" required>
                <mat-error *ngIf="UserForm.controls['company'].status === 'INVALID'">
                    The department is required
                </mat-error>
            </mat-form-field>

            <br>
            <button mat-raised-button (click)="isEditMode ? updateUser() : addUser()">
                {{isEditMode ? 'Update' : 'Add'}}
            </button>
        </div>

    </mat-card-content>
</mat-card>